@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --slate: #8892b0;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-lg: 18px;
  --fz-xxl: 22px;
  --green: #64ffda;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --tab-height: 42px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #495670 #0a192f;
}

body {
  display: flex;
  box-sizing: border-box;
  color: var(--slate);
  font-family: var(--font-sans);
  line-height: 1.3;
  font-size: 20px;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(4, 12, 26);
  margin: 0;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}

@media (max-width: 1080px) {
  main {
    padding: 0px 100px;
  }
}

@media (max-width: 768px) {
  main.fillHeight {
    padding: 0px 50px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0px 25px;
  }
}

h2 {
  font-weight: 600;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin: 0px 0px 15px;
}

p:last-child,
p:last-of-type {
  margin: 0px;
}

div {
  display: block;
  unicode-bidi: isolate;
}

button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-shadow {
  box-shadow: 0 4px 2px -2px rgba(2, 12, 27, 0.7);
}

.big-heading {
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
}

section {
  padding: 100px 0px;
}

.section-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -2px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #233554;
}

.section-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;
  font-weight: 600;
  line-height: 1.1;
}

@media (max-width: 1080px) {
  .section-heading::after {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .section-heading::after {
    width: 100%;
  }
}

.inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}
@media (max-width: 768px) {
  .inner {
    display: block;
  }
}

.about-me-img {
  position: relative;
  max-width: 300px;
}

@media (max-width: 768px) {
  .about-me-img {
    margin: 50px auto 0px;
    width: 80%;
  }
}

.img-wrapper {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 100%;
  border-radius: 4px;
  background-color: #64ffda;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid #64ffda;
  border-radius: 1px;
  z-index: -1;
}

.about-img {
  aspect-ratio: 1 / 1;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 12px;
}

.experience {
  max-width: 700px;
}

.experience .inner {
  display: flex;
}

@media (max-width: 600px) {
  .experience .inner {
    display: block;
  }
}

@media (min-width: 700px) {
  .experience .inner {
    min-height: 340px;
  }
}

.tab-list {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

@media (max-width: 600px) {
  .tab-list {
    display: flex;
    overflow-x: auto;
    max-width: 100vw;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .tab-list {
    width: calc(100% + 50px);
    padding-left: 25px;
    margin-left: -25px;
  }
}

.tab-btn {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--lightest-navy);
  background-color: transparent;
  color: var(--slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .tab-btn {
    padding: 0px 15px 2px;
  }
}

@media (max-width: 600px) {
  .tab-btn {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 120px;
    padding: 0px 15px;
    border-left: 0px;
    border-bottom: 2px solid var(--lightest-navy);
    text-align: center;
  }
  .tab-btn.active {
    border-bottom: 2px solid var(--green);
    border-left: 0px !important;
  }
  .work-info ul {
    font-size: var(--fz-sm) !important;
  }
}

.tab-btn.active {
  border-left: 2px solid var(--green);
}

.tab-btn:hover,
.tab-btn:focus {
  background-color: var(--light-navy);
}

.tab-btn:hover,
.tab-btn:focus-visible {
  color: var(--green);
  outline: 0px;
}

:focus-visible {
  outline: 2px dashed var(--green);
  outline-offset: 3px;
}

.work-info {
  width: 100%;
  height: auto;
  padding: 10px 5px;
}

.work-info h3 {
  margin-bottom: 2px;
  font-size: var(--fz-xxl);
  font-weight: 500;
  line-height: 1.3;
}

.work-info .time-range {
  margin-bottom: 25px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.work-info ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-size: var(--fz-lg);
}

.work-info ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.work-info ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
}

a.inline-link {
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);
}
